@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Nunito:ital,wght@0,400;0,500;0,700;1,400&family=Zilla+Slab:ital,wght@0,400;0,600;0,700;1,600&display=swap');

body {
    background-color: #5C636A;
    color: white;
    font-family: 'Nunito', sans-serif;
}

/* Section Headers */
.section-header, .overview {
    margin-bottom: 15px;
    font-weight: bolder;
}

/* Lists */
.list-group {
    margin-bottom: 20px;
}

.list-group-item {
    border: 0px;
    margin-left: 25%;
    font-weight: 700;
    background-color: #5C636A;
    color: white;
}

.list-group-item:hover {
    text-decoration: underline;
    background-color: #5C636A;
    color: turquoise;
}

.list-group-item:focus {
    background-color: transparent;
    color: white;
}

.list-group-item-action {
    width: 50%;
}

/* Timeline */
.timeline-container {
    margin-bottom: 20px;
}

.timeline-header {
    margin-bottom: 30px;
}

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted white;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted white;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: turquoise;
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: teal;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

.time {
    font-weight: bold;
    color: aquamarine;
}

.achievement {
    font-weight: 600;
    color: white;
}