@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Nunito:ital,wght@0,400;0,500;0,700;1,400&family=Zilla+Slab:ital,wght@0,400;0,600;0,700;1,600&display=swap');

body {
    background-color: #5C636A;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.section-header, .overview {
    margin-bottom: 15px;
    font-weight: bolder;
}

.list-group {
    margin-bottom: 20px;
}

.list-group-item {
    border: 0px;
    margin-left: 25%;
    font-weight: 700;
    background-color: #5C636A;
    color: white;
}

.list-group-item:hover {
    text-decoration: underline;
    background-color: #5C636A;
    color: blue;
}

.list-group-item-action {
    width: 50%;
}